
.icon-down-dir:before {
    content: '\e800';
}

/* '' */
.icon-down-open:before {
    content: '\e801';
}

/* '' */
.icon-attach:before {
    content: '\e802';
}

/* '' */
.icon-link:before {
    content: '\e803';
}

/* '' */
.icon-help-circled:before {
    content: '\e804';
}

/* '' */
.icon-megaphone:before {
    content: '\e805';
}

/* '' */
.icon-doc-new:before {
    content: '\e806';
}

/* '' */
.icon-search:before {
    content: '\e807';
}

/* '' */
.icon-filter:before {
    content: '\f0b0';
}

/* '' */
.icon-angle-down:before {
    content: '\f107';
}

/* '' */
.icon-ellipsis-vert:before {
    content: '\f142';
}

/* '' */
.icon-doc-text-inv:before {
    content: '\f15c';
}

/* '' */
