
.icon-emo-unhappy:before {
    content: '\e802';
}

/* '' */
.icon-emo-sleep:before {
    content: '\e803';
}

/* '' */
.icon-emo-thumbsup:before {
    content: '\e804';
}

/* '' */
.icon-emo-devil:before {
    content: '\e805';
}

/* '' */
.icon-emo-surprised:before {
    content: '\e806';
}

/* '' */
.icon-emo-tongue:before {
    content: '\e807';
}

/* '' */
.icon-emo-coffee:before {
    content: '\e808';
}

/* '' */
.icon-emo-sunglasses:before {
    content: '\e809';
}

/* '' */
